
.custom-table {
    border-collapse: collapse;
    width: 100%;
  }
 
  .custom-table th, .custom-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
 
  .custom-table th {
    background-color: #b1f0ee;
  }
 