

.loginPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: $white !important;
    background: url('/src/assets/ezgif.com-video-to-gif\ \(1\).gif') no-repeat right top;
    background-size: 100%;
  }